@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
.light {
  --box-opacity: rgba(245, 245, 245, 1);
}
.dark {
  --box-opacity: rgba(20, 20, 20, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
select,
input {
  outline: none;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
